img{
  border-radius: 50%;
  width: 90%;
  padding: 15px;
}

.contactCard{
  height: 220px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0))!important;
}

.contactsContact{
  height: 1355px;
}

