img{
  border-radius: 50%;
  width: 90%;
  padding: 15px;
}

.bg-whit{
  border-radius: 25px;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,0,0,0))!important;
}

.contactCard{
  height: 220px;
}
