li{
  list-style: none;
}


.dots{
  right: 10px;
}


.selected{
  color:#008bc5;
}

.letters{
  border: 2px solid #25728f;
  padding: 10px 15px 10px 20px;
  background-color: #008bc5;
  border-radius: 5px;
  color: white;
  margin-top: 2px;
}

.letters:hover{
  cursor: pointer;
}

.borderLeft{
  border-left: 2px solid white;
}

.contacts:hover{
  cursor: pointer;
}
