<div class="container-xxl p-4 d-flex">
  <div class="col-3">
    <div class="row">
      <div class="col-12">
        <app-search (searchEvent)="receiveSearch($event)"></app-search>
      </div>
      <div class="col-12 bg-info">
        <div class="row infoBox p-3">
          <div class="col-3 col-xl-2 ps-0"
               *ngIf="isShowAbcSearch">
            <ul class="ps-0 centerVertical">
              <li *ngFor="let letter of letters; let i=index"
                  class="letters"
                  (click)="receiveSearch(letter)">
                {{letter}}
              </li>
            </ul>
          </div>
          <div class="col-3 col-xl-2 ps-0"
               *ngIf="isShowAbcButton">
            <ul class="ps-0 centerVertical">
              <li class="letters"
                  (click)="receiveSearch('')">
                ABC
              </li>
            </ul>
          </div>
          <div class="col-8 col-xl-9 borderLeft ms-4">
            <ul class="ps-0">
              <li *ngFor="let contact of contacts | filter:search:page:increment"
                  class="pb-1 contacts"
                  (click)="expandContact(contact.id)">
                {{contact.name}}
              </li>
            </ul>
          </div>
          <div class="col-1 dots centerVertical">
            <i class="fa-solid fa-circle"
               (click)="changePage(0)"
               [ngClass]="statusPage ? 'active' : ''"
               ></i>
            <i class="fa-solid fa-circle"
              (click)="changePage(50)"
              [ngClass]="!statusPage ? 'active' : ''"
              ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 pt-2">
    <app-single-contact></app-single-contact>
  </div>
</div>
