/* You can add global styles to this file, and also import other style files */
.bg-grey{
  background-color: #c6d5dc;
}

.bg-info{
  background-color: #b5dfef!important;
  border-radius: 25px;
  box-shadow: -10px 10px 5px #7ba4b4;
}

h1,h2,h3,h4,h5,h6,p,li{
  color: #25728f;
}

.infoBox{
  position: relative;
}

.centerVertical{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dots i{
  color: transparent;
  border:2px solid #008bc5;
  border-radius: 50%;
}

.dots i:hover{
  cursor: pointer;
  color: #008bc5;
}

.active{
  color:#008bc5;
  background-color: #008bc5;
}
